.spacer {
  padding:20px 0px 5px;
}

.tableContainer {
  display:         table;
  width:           900px;
  border:          #f00 groove 4px;
  border-collapse: collapse; 
  margin:          auto;
}        

.cellContainer {
  display:         table-cell;
  width:           300px;
  border:          dashed 2px;
  background:      #ccc;
  color:           #000;
}
#showcss { width:800px; margin: auto; border: 6px solid black;}
textarea { resize:none; width:790px; height:320px; margin:auto; font-weight:bold}
  
      

